{% extends "base.html" %}

{% block content %}
<div class="container bg-light">
  <br><br>
  <h1>Zamówienie</h1>
  <p>Zamawiający: {{ order.manager }}</p>
  <p>Data przysłania zamówienia: {{ order.date_of_sending_to_supervisor|date:"d - m - Y" }}</p>
  <p>Zamówienie na:</p>

  {% for clothe in clothes %}
    <div class="shadow p-3 mb-5 bg-white rounded">
      <p>{{ clothe.kind__name }} dla {{ clothe.employee__name }} {{ clothe.employee__surname }}</p>

      {% for prefetched_dict in employees_with_prefetched %}
        {% if prefetched_dict.name == clothe.employee__name %}
          {% if prefetched_dict.clothes__kind__name == clothe.kind__name %}
            {% if prefetched_dict.clothes__delivered_ok %}
              <p>Pracownik otrzymał takie ubranie {{ prefetched_dict.clothes__received }}</p>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="btn btn-outline-danger btn-lg" href="{% url 'supervisor:delete-clothe' clothe.id %}" role="button">Usuń</a>
    </div>
  {% endfor %}


  <h3>Wyślij zamówienie do producenta.</h3>
  <a class="btn btn-outline-success btn-lg" href="{% url 'supervisor:send' order.id %}" role="button">Wyślij</a>
  <br><br>


</div>





{% endblock content %}
