{% extends "base.html" %}

{% block content %}
<div class="container">
  <br><br>
  <h1>Potwierdzenie przyjęcia ubrania.</h1>
  <p>Ubranie {{ clothe.kind.name }}</p>
  <p>dla {{ clothe.employee.name }} {{ clothe.employee.surname }}</p>
  <p>dostarczono zgodnie z zamówieniem.</p>
  <form action="#" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input class="btn btn-outline-success btn-lg" type="submit" value="Potwierdź">
  </form>
  <br><br>

  <a class="btn btn-danger" href="#" role="button">Zrezygnuj</a>
</div>




{% endblock content %}
