{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <br><br>
  <h1>Dodaj pracownika</h1>
  <div class="row col-md-6">
    <form action="#" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <br><br>
      <input class="btn btn-outline-primary" type="submit" value="Dodaj pracownika">
    </form>
    <br><br>
  </div>
  <br><br>
  <a class="btn btn-outline-danger" href="{% url 'employees:employees' %}" role="button">Zrezygnuj</a>
</div>
<br><br>
{% endblock content %}
