{% extends "base.html" %}

{% block content %}
<div class="container">
  <br><br>
  <h1>Pracownicy</h1>
  <p>Mijesce pracy: {{ work_place }}</p>

  {% for employee in employees %}

    <a href="{{ employee.get_absolut_url }}">
      {{ employee.name }}
      {{ employee.surname }}
      - {{ employee.job.name }}
    </a>
    <br><br>

  {% endfor %}
  <a class="btn btn-outline-primary" href="{% url 'employees:add' %}" role="button">Dodaj nowego pracownika</a>

  <br><br>
  {% if order_not_sent %}
    <h3>Masz zamówienie przygotowane do wysłania.</h3>
    <a class="btn btn-outline-danger" href="{% url 'orders:prepared' %}" role="button">Sprawdź</a>
  {% endif %}
</div>
{% endblock content %}
