{% extends "base.html" %}

{% block content %}
<div class="container bg-light ">
  <h1>Pracownik</h1>

  <p>{{ employee.name }} {{ employee.surname }}</p>
  <p>{{ employee.job.name }}</p>
  <p>{{ employee.work_place.name }}</p>
  <a class="btn btn-outline-primary" href="{% url 'employees:update' employee.pk %}" role="button">Edytuj dane pracownika</a>
  <br><br>
  {% if kinds_that_can_be_ordered %}
    <h3>Ubrania, które można zamówić</h3>

    {% for kind in kinds_that_can_be_ordered %}
      <div class="p-3 mb-2 bg-white rounded shadow-sm">
        <p>{{ kind.name }}</p>
        <a class="btn btn-outline-primary" href="{% url 'clothes:clothe-create' kind.pk employee.pk %}" role="button">Zamów</a>
      </div>
    {% endfor %}
    <br><br>
  {% endif %}
  {% if kinds_prepared_to_order %}
    <h3>Ubrania, które zamówiono</h3>
    {% for kind in kinds_prepared_to_order %}
      <div class="p-3 mb-2 bg-white bg-gradient shadow-sm">
        <p>{{ kind.name }}</p>
        <a class="btn btn-outline-primary" href="#" role="button">Sprawdź</a>
      </div>
    {% endfor %}
    <br><br>
  {% endif %}
  {% if kinds_that_can_not_be_ordered_yet %}
    <h3>Ubrania, których NIE można zamówić</h3>
    {% for kind in kinds_that_can_not_be_ordered_yet %}
      <div class="p-3 mb-2 bg-white bg-gradient shadow-sm">
        <p>{{ kind.name }}</p>
        <a class="btn btn-outline-success" href="#" role="button">Sprawdź</a>
      </div>
    {% endfor %}
    <br><br>
  {% endif %}
  <br><br>
</div>



<!--
{% for kind in kinds_of_available_clothes.all %}
  <div class="jumbotron">
    <h4>{{ kind.name }}</h4>
    {% if kind.name in names_of_kinds_of_clothes_ordered %}
      {% for clothe in employee.clothes.all %}
        {% if clothe.kind ==  kind %}
          {% for f in first_clothes %}
            {% if f == clothe %}
              {% if f.prepared_to_order %}
                <p>W trakcie składania zamówienia</p>
              {% else %}
                {% if f.can_be_ordered_again %}
                  <a class="btn btn-success" href="{% url 'orders:redirect' kind.pk employee.pk %}" role="button">Zamów</a>
                {% else %}
                  <p>Zamówić można {{ f.time_to_order_again|date:"d - m - Y" }}</p>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <p>zamówione {{ clothe.ordered|date:"d - m - Y" }}<p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>Niezamawiane nigdy</p>
      <a class="btn btn-primary" href="{% url 'orders:redirect' kind.pk employee.pk %}" role="button">Zamów</a>
    {% endif %}
  </div>
{% endfor %}
-->
{% endblock content %}
