{% extends "base.html" %}

{% block content %}
<div class="container">
  <br><br>
  <h1>Zamówienie - niezaakceptowane jeszcze przez Nadzorcę.</h1>

  <p>Data wysłania zamówienia: {{ order.date_of_sending_to_supervisor|date:"d - m - Y" }}</p>

  {% for clothe in clothes %}
    <div class="shadow-sm p-3 mb-5 bg-light rounded">
      <p>{{ clothe.kind__name }} dla {{ clothe.employee__name }} {{ clothe.employee__surname }}</p>
    </div>
  {% endfor %}
  <br><br>
  <a class="btn btn-outline-primary btn-lg" href="{% url 'orders:orders' %}" role="button">Powrót do zamówień</a>


</div>
<br><br>
{% endblock content %}
