{% extends "base.html" %}

{% block content %}

<h1>Zamówienia</h1>
<br><br>


{% if order_during_composing %}
  <h3>Przygotowywane, niewysłane.</h3>
  <a class="btn btn-success btn-lg" href="{% url 'orders:prepared' %}" role="button">Bieżące zamówienie</a>
{% endif %}
<hr>


{% if orders_sent_to_supervisor %}
  <h3>Wysłane, niezatwierdzone przez Nadzorcę.</h3>
  <a class="btn btn-success btn-lg" href="{% url 'orders:at-supervisor-list' %}" role="button">Sprawdź</a>
{% endif %}
<hr>

<!--
{% if orders_waiting_for_delivery %}
  <h3>Zamówienia - oczekiwanie na dostawę.</h3>
  <a class="btn btn-primary" href="{% url 'orders:sent' %}" role="button">Sprawdź</a>
{% else %}
  <p>Nie czekasz na dostawę żadnego zamówienia.</p>
{% endif %}
<hr>
-->


<h3>Wcześniejsze zamówienia.</h3>
<a class="btn btn-primary" href="#" role="button">Wcześniejsze zamówienia</a>

{% endblock content %}
