{% extends "base.html" %}

{% block content %}


<h1>Zamówienia - oczekiwanie na dostawę.</h1>

{% for order in orders %}
  <div class="shadow p-3 mb-5 bg-light rounded">
    <p>Data wysłania: {{ order.date_of_sending_to_supervisor|date:"d - m - Y" }}</p>
    {% for clothe in order.clothes_ordered.all %}
      <p>{{ clothe.kind.name }} dla {{ clothe.employee.name }} {{ clothe.employee.surname }}</p>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'orders:sent-detail' order.pk %}" role="button">Przyjmij dostawę</a>
  </div>
{% endfor %}

{% endblock content %}
